{% extends 'maple/base.html' %}
{% block main %}
<div class="col-md-offset-2 col-md-8">
    <ul class="list-group">
        <li class="list-group-item"> <a href="{{ url_for('word.wordlist') }}">留言簿</a></li>
        <li class="list-group-item"> <a href="{{ url_for('vote.votelist') }}">投票</a></li>
        <li class="list-group-item"> <a href="{{ url_for('count.countlist') }}">cookies计数</a></li>
        <li class="list-group-item"> <a href="{{ url_for('paginate.pagelist') }}">flask分页</a></li>
        <li class="list-group-item"> <a href="{{ url_for('chat.chatlist') }}">Chat</a></li>
    </ul>
</div>
{% endblock %}
